body {
    font-family: "Arial", "Verdana";
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.red {
    color: red;
}

table {
    width: 80%;
    border-collapse: collapse;
}

td {
    border: 1px solid gray;
    padding: 15px;
    font-size: 22px;
    text-align: center;
}
