body {
    font-family: "Arial", "Verdana";
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.spaceafter-10 {
    margin-bottom:10px;
}

.spaceafter-30 {
    margin-bottom: 30px;
}

.smaller-font {
    font-size: 80%;
}

.red {
    color: red;
}

.fullwidth {
    width:100%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: none;
    padding: 10px;
}
